<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Add book</title>
</head>
<body>
<form th:method="post" th:action="@{/book/add-book}">
    <input type="hidden" id="id" name="id" th:value="(${book} != null ? ${book.getId()} : '')">
    <label for="bookTitle">Book name</label>
    <input type="text" name="title" id="bookTitle" th:value="(${book} != null ? ${book.getTitle()} : '')" required><br>
    <label for="bookGenre">Book genre</label>
    <input type="text" name="genre" id="bookGenre" th:value="(${book} != null ? ${book.getGenre()} : '')" required><br>
    <label for="bookYear">Year of release</label>
    <input type="number" name="year" id="bookYear" th:value="(${book} != null ? ${movie.getYear()} : '')" required><br>
    <label for="movieProduction">Book store</label>
    <select name="production" id="movieProduction">
        <option th:if="(${book} != null)"
                th:selected="${book.getBookStore() != null && book.getBookStore().getId() == production.getId()}"
                th:each="production : ${productions}"
                th:value="${production.getId()}"
                th:text="${production.getName()}">>
        </option>
        <option th:if="(${movie} == null)"
                th:each="production : ${productions}"
                th:value="${production.getId()}"
                th:text="${production.getName()}">>
        </option>
    </select><br>
    <input type="submit" th:value="Submit">
    <a type="button" href="/books">Back</a>
</form>
</body>
</html>