<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Book Details</title>
</head>
<body>
<header>
    <h1 th:if="${selectedAuthor}" th:text="${selectedAuthor.name}"></h1>
</header>
<section>
    <h2 th:if="${selectedAuthor}" th:text="${selectedAuthor.surname}"></h2>
    <h2 th:if="${selectedAuthor}" th:text="${selectedAuthor.biography}"></h2>
    <h2>Books:</h2>
    <ul>
        <li th:each="book : ${bookList}" th:text="${book.title + ' ' + book.year}"></li>
    </ul>
</section>
</body>
</html>
